name: Deploy Cloudflare Page
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v6
    - name: Setup rust
      uses: dtolnay/rust-toolchain@stable
    - name: Install dependencies
      run: cargo install mdbook mdbook-katex@0.10.0-alpha
    - name: Build ./book
      run: mdbook build
    - name: Deploy to cloudflare pages
      uses: cloudflare/wrangler-action@v3
      with:
        apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        accoundId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
        command: pages deploy ./book --project-name=last-train-to-mystery
